$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dkGray: hsl(0, 0%, 19%);
$ltGray: hsl(0, 0%, 81%);
$red: hsl(0, 94%, 42%);

$globeDark: hsl(217, 76%, 7%);
$primary: hsl(202, 92%, 19%);
$accent : hsl(35, 84%, 62%) ;

